<template>
		<v-col>
			<v-row>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'esc')" block text>
						<v-icon>mdi-keyboard-esc</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'up')" block text outlined>
						<v-icon>mdi-arrow-up</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'tab-open')" block text>
						<v-icon>mdi-tab-plus</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'volumeup')" block text outlined>
						<v-icon>mdi-volume-plus</v-icon>
					</v-btn>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'left')" block text outlined>
						<v-icon>mdi-arrow-left</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'space')" block text outlined>
						<v-icon>mdi-keyboard-space</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'right')" block text outlined>
						<v-icon>mdi-arrow-right</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'volumedown')" block text outlined>
						<v-icon>mdi-volume-minus</v-icon>
					</v-btn>
				</v-col>
			</v-row>

			<v-row>
				<v-col cols=3>
					<v-menu top offset-y>
						<template v-slot:activator="{ on, attrs }">
							<v-btn block text v-bind="attrs" v-on="on" >
								<v-icon>mdi-list-box-outline</v-icon>
							</v-btn>
						</template>

						<v-list dense>
							<v-list-item 
								v-for="(item, index) in moreKeys"
								:key="index"
								@click="$emit('key', item.key)"
							>
								<v-list-item-icon v-if="item.icon">
									<v-icon>{{ item.icon }}</v-icon>
								</v-list-item-icon>
								<v-list-item-title>
									{{ item.title }}
								</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'down')" block text outlined>
						<v-icon>mdi-arrow-down</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'fullscreen')" block text>
						<v-icon>mdi-fullscreen</v-icon>
					</v-btn>
				</v-col>
				<v-col cols=3>
					<v-btn @click="$emit('key', 'mute')" block text outlined>
						<v-icon>mdi-volume-mute</v-icon>
					</v-btn>
				</v-col>
			</v-row>

			<v-row class="py-3">
				<v-divider></v-divider>
			</v-row>

			<v-row class="px-3 pt-3">
				<v-col cols=9>
					<TouchInput
						class="touchpadColor"
						@move="(d) => $emit('touch', d)" 
						@click="$emit('click', 'left')" 
						icon="mdi-cursor-pointer"
					></TouchInput>
				</v-col>
				<v-col cols=3 class="">
					<v-row class="pb-2 pl-4">
						<v-btn text small block style="min-height: 67px" outlined @click="$emit('scroll', 'up')">
							<v-icon>mdi-pan-up</v-icon>
						</v-btn>
					</v-row>
					<v-row class="pt-2 pl-4">
						<v-btn text small block style="min-height: 67px" outlined @click="$emit('scroll', 'down')">
							<v-icon>mdi-pan-down</v-icon>
						</v-btn>
					</v-row>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols=4>
					<v-btn @click="$emit('click', 'left')" block text outlined>
						Left
					</v-btn>
				</v-col>
				<v-col cols=4>
					<v-btn @click="$emit('click', 'middle')" block text outlined>
						Middle
					</v-btn>
				</v-col>
				<v-col cols=4>
					<v-btn @click="$emit('click', 'right')" block text outlined>
						Right
					</v-btn>
				</v-col>
			</v-row>

			<v-row class="py-3">
				<v-divider></v-divider>
			</v-row>

			<v-row>
				<v-col cols=12>
					<v-form @submit.prevent="onType">
						<v-text-field dense filled outlined
							v-model="textInput"
							label="Text input"
							prepend-inner-icon="mdi-keyboard"
							@keydown.enter="onType"
						>
						<template v-slot:append-outer>
							<v-btn @click="$emit('key', 'backspace')" text class="append-btn">
								<v-icon>mdi-backspace</v-icon>
							</v-btn>
							<v-btn @click="$emit('key', 'enter')" text class="append-btn">
								<v-icon>mdi-keyboard-return</v-icon>
							</v-btn>
						</template>
						</v-text-field>
					</v-form>
				</v-col>
			</v-row>
		</v-col>
</template>

<script>
// import { Backend } from '../api/Backend'


import TouchInput from './TouchInput.vue'

export default {
	name: 'ControlsPage',

	components: { 
		TouchInput
	},

	props: [
		'moreKeys'
	],

	data: () => ({
		textInput: '',
	}),

	methods: {
		onType: async function() {
			if (!this.textInput)
				return;

			this.$emit('type', this.textInput);

			this.textInput = '';
		},
	},

	created: function() {
	},
};

</script>

<style>
.append-btn {
	margin-top: -6px;
}
</style>
