<template>
	<v-dialog
		v-model="open"
		fullscreen
		hide-overlay
		transition="dialog-bottom-transition"
	>
		<v-card>
			<v-toolbar>
				<v-toolbar-title>Settings</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn text @click="onReset">
					Reset
				</v-btn>
				<v-btn icon @click="open = false">
					<v-icon>mdi-close</v-icon>
				</v-btn>
			</v-toolbar>

			<v-card-text>
				<v-col>
					<v-form ref="form">
						<v-row>
							<v-switch
								label="Night Mode"
								v-model="$vuetify.theme.dark"
							></v-switch>
						</v-row>

						<v-row>
							<v-text-field
								label="Touchpad Acceleration"
								:rules="nonEmptyFloat"
								v-model="cfg.touchAccel"
							></v-text-field>
						</v-row>

						<v-row>
							<v-text-field
								label="Scroll Acceleration"
								:rules="nonEmptyFloat"
								v-model="cfg.scrollAccel"
							></v-text-field>
						</v-row>

						<v-row class="text-caption-1">
							Key Bindings
						</v-row>

						<v-row v-for="(v, k) in cfg.keys" :key="k">
							<v-col cols=4 class="pt-5">
								{{ k }}
							</v-col>
							<v-col cols=8>
								<v-text-field dense
									v-model="cfg.keys[k]"
									@click:append="$emit('reset', k)"
									append-icon="mdi-refresh"
								></v-text-field>
							</v-col>

							
						</v-row>

					</v-form>
				</v-col>
			</v-card-text>

		</v-card>
	</v-dialog>
</template>

<script>
// import { Backend } from '../api/Backend'


export default {
	name: 'ControlsPage',

	components: { 
	},

	props: [
		'value',
		'config'
	],

	data: () => ({
		open: false,
		cfg: {},
		nonEmptyFloat: [
			(s) => {
				var v = parseFloat(s);
				if (isNaN(v) || v <= 0)
					return 'Invalid value';
				return true;
			}
		]
	}),

	methods: {
		onReset: function() {
			this.$emit('reset');
		}
	},

	watch: {
		value: function() {
			this.open = this.value;
		},

		config: function() {
			this.cfg = this.config;
		},

		open: function() {
			this.$emit('input', this.open);

			if (this.open)
				return;

			if (this.$refs.form.validate())
				this.$emit('change', this.cfg);
		}
	},

	created: function() {
		this.open = this.value;
		this.cfg = this.config;
	},
};

</script>

<style>
.append-btn {
	margin-top: -6px;
}
</style>
