<template>
	<v-row
		v-touch="{move: onTouch}"
		align="center"
		justify="center"
		style="height: 150px"
		@click="$emit('click')"
	>
		<v-icon>{{ icon }}</v-icon>
	</v-row>
</template>

<script>

export default {
	name: 'TouchInput',

	components: { },

	props: ['icon'],

	data: () => ({
		start: {x: 0, y: 0},
		move: {x: 0, y: 0},
	}),

	methods: {
		onClick: function() {
			console.log('click');
		},
		onTouch: function(event) {

			var start = {
				x: event.touchstartX,
				y: event.touchstartY
			};

			var move = {
				x: event.touchmoveX,
				y: event.touchmoveY
			};

			if (start.x != this.start.x && start.y != this.start.y) {
				this.start = start;
				this.move = move;
				return;
			}

			var delta = {
				x: move.x - this.move.x,
				y: move.y - this.move.y
			};

			this.$emit('move', delta);

			this.move = move;
		},
	},

	created: function() {
	},
};


</script>
