<template>
	<v-app>
		<SnackbarAlert></SnackbarAlert>
		<v-app-bar app>
			<v-btn @click="onNav('prev')" icon>
				<v-icon>mdi-arrow-left</v-icon>
			</v-btn>
			<v-btn @click="onNav('next')" icon>
				<v-icon>mdi-arrow-right</v-icon>
			</v-btn>

			<v-spacer></v-spacer>

			<v-btn-toggle v-model="navMode" dense>
				<v-btn>
					<v-icon>mdi-tab</v-icon>
				</v-btn>
				<v-btn>
					<v-icon>mdi-history</v-icon>
				</v-btn>
				<v-btn>
					<v-icon>mdi-apps</v-icon>
				</v-btn>
				<v-btn>
					<v-icon>mdi-swap-horizontal</v-icon>
				</v-btn>
			</v-btn-toggle>

			<v-spacer></v-spacer>

			<v-btn @click="settingOpen = true" icon>
				<v-icon>mdi-cog</v-icon>
			</v-btn>
		</v-app-bar>
		<v-main>
			<v-container>
				<ControlsPage
					@key='onKey'
					@click='onClick'
					@touch='onTouch'
					@scroll='onScroll'
					@type='onType'
					:moreKeys='config.moreKeys'
				></ControlsPage>

				<SettingsDialog
					v-model="settingOpen"
					:config="config"
					@change="onConfigChange"
					@reset="onConfigReset"
				></SettingsDialog>

			</v-container>
		</v-main>
	</v-app>
</template>

<script>
import ControlsPage from './components/ControlsPage.vue'
import SettingsDialog from './components/SettingsDialog.vue'
import SnackbarAlert from './components/SnackbarAlert.vue'

import { bus } from './main'
import { Backend } from './api/Backend'

const config_default = {
	scrollAccel: 30,
	touchAccel: 1.8,

	moreKeys: [
		{
			key: 'f5',
			icon: 'mdi-keyboard-f5',
			title: 'Refresh',
		},
		{
			key: 'tab-open',
			icon: 'mdi-tab-plus',
			title: 'Open tab',
		},
		{
			key: 'tab-close',
			icon: 'mdi-tab-remove',
			title: 'Close tab',
		},
		{
			key: 'tab-restore',
			icon: 'mdi-tab',
			title: 'Restore tab',
		},
		{
			key: 'playpause',
			icon: 'mdi-play-pause',
			title: 'Play/Pause',
		},
		{
			key: 'play-next',
			icon: 'mdi-skip-next',
			title: 'Play next',
		},
		{
			key: 'play-previous',
			icon: 'mdi-skip-previous',
			title: 'Play previous',
		},
	],

	keys: {
		'windows-prev': 'leftalt esc',
		'windows-next': 'leftalt esc',
		'browser-prev': 'leftctrl leftshift tab',
		'browser-next': 'leftctrl tab',
		'history-prev': 'leftalt left',
		'history-next': 'leftalt right',
		'tab-prev': 'leftshift tab',
		'tab-next': 'tab',
		'tab-open': 'leftctrl t',
		'tab-close': 'leftctrl w',
		'tab-restore': 'leftctrl leftshift t',
		'esc': 'esc',
		'f5': 'f5',
		'up': 'up',
		'down': 'down',
		'left': 'left',
		'right': 'right',
		'space': 'space',
		'volumeup': 'volumeup',
		'volumedown': 'volumedown',
		'mute': 'mute',
		'playpause': 'playpause',
		'play-next': 'leftshift n',
		'play-previous': 'leftshift p',
		'fullscreen': 'f',
		'backspace': 'backspace',
		'enter': 'enter',
	}
};

export default {
	name: 'App',

	components: {
		ControlsPage,
		SnackbarAlert,
		SettingsDialog
	},

	data: () => ({
		navMode: 0,
		settingOpen: false,
		config: {}
	}),

	methods:  {
		setThemeColor: function(c) {
			document.querySelector('meta[name="theme-color"]').setAttribute("content", c);
		},

		onNav: function(d) {
			var mode = 'browser';
			if (this.navMode == 1)
				mode = 'history';
			else if (this.navMode == 2)
				mode = 'windows';
			else if (this.navMode == 3)
				mode = 'tab';

			var key = `${mode}-${d}`;
			this.onKey(key);
		},

		onClick: function(btn) {
			this.doAction({click: btn});
		},

		onTouch: function(delta) {
			delta.x *= this.config.touchAccel;
			delta.y *= this.config.touchAccel;
			if (delta.x == 0 && delta.y == 0)
				return;
			this.doAction({touch: delta});
		},

		onScroll: function(arg) {
			if (arg == 'up') {
				this.doAction({scroll: {x: 0, y: this.config.scrollAccel}});
				return;
			}

			if (arg == 'down') {
				this.doAction({scroll: {x: 0, y: - this.config.scrollAccel}});
				return;
			}

			let delta = {
				x: arg.x * this.config.scrollAccel,
				y: arg.y * this.config.scrollAccel
			};

			if (delta.x == 0 && delta.y == 0)
				return;

			this.doAction({scroll: delta});
		},

		onType: function(text) {
			this.doAction({type: text});
		},

		onKey: function(key) {
			var k = key;
			if (k in this.config.keys)
				k = this.config.keys[k];

			this.doAction({key: k});
		},

		doAction: function(cmd) {
			Backend.postJson('do', cmd)
				.then((ret) => {
					if (ret.rc == 0)
						return;

					console.error(ret);
					bus.$emit('error', ret.stderr);
				}).catch((e) => {
					console.error(e);
					bus.$emit(e);
				});
		},

		onConfigChange: function(cfg) {
			this.config = cfg;
			localStorage.setItem('config', JSON.stringify(this.config));
		},

		resetAllConfig: function() {
			this.config = JSON.parse(JSON.stringify(config_default));
			localStorage.setItem('config', JSON.stringify(this.config));
		},

		onConfigReset: function(k) {
			if (k) {
				this.config.keys[k] = config_default.keys[k];
				return;
			}

			this.resetAllConfig();
			bus.$emit('info', 'Settings restored to default');
		},

		updateThemeColor: function() {
			if (this.$vuetify.theme.dark) {
				this.setThemeColor('#333');
			} else {
				this.setThemeColor('#e5e5e5');
			}
		}
	},

	created: function() {
		var d = localStorage.getItem('useDarkTheme');
		this.$vuetify.theme.dark = (d === 'true');

		this.updateThemeColor()

		var cfg = localStorage.getItem('config');
		if (!cfg) {
			this.resetAllConfig();
			return;
		}

		this.config = JSON.parse(cfg);
	},

	watch: {
		'$vuetify.theme.dark': function() {
			this.updateThemeColor();
			localStorage.setItem('useDarkTheme', this.$vuetify.theme.dark);
		}
	}
}
</script>

<style>
</style>
